<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schuman survey in</title>
</head>
<body>
<div class="mainBox">

    <h1> Survey, index in </h1>
    <form action='/surveyIn' method="post">
    <div class="firstBox">
        <div>
            <h3 for='name'> Your Name: </h3>
            <h3><input type="text" name="name"> </h3>
        </div>
        <div>
            <h3 for='location'> Dojo Location: </h3>
            <h3><input type="text" name="location"></h3>
        </div>
        <div>
            <h3 for='language'> Favorite Language:</h3>
            <h3><input type="text" name="language"></h3>
        </div>
            <h3 for='comment'> Comment (optional): </h3>
            <h3><input type="text" name="comment"></h3>
        </div>
        <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>