<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schuman survey in</title>
</head>
<body>
    <h1> Survey, index in </h1>
    <form action='/surveyIn' method="post">
            <div for='name'> Your Name: 
            <input type="text" name="name"> </div>
            <div for='location'> Dojo Location: 
            <input type="text" name="location"></div>
            <div for='language'> Favorite Language: 
            <input type="text" name="language"></div>
            <div for='comment'> Comment (optional): 
            <input type="text" name="comment"></div>
            <div><input type="submit" value="Submit"></div>
        </form>
        </div>
    </div>
</div>
</body>
</html>